@inject IDropdown _dropdown

@{
    ViewData["Title"] = "Home Page";
}
@using ePreschool.Core.Dto
@model List<ApplicationUserDto>


  

<div class="text-center">
    <h1 class="display-4">List of users</h1>
    @{
        @foreach (var user in Model)
        {
            <p>@user.FirstName @user.LastName</p>
        }
    }
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<a asp-action="AddUser" asp-controller="Home" >Add user</a>
<a asp-action="SignOut" asp-controller="Access">SignOut</a>